/* OLD CSS FILE */
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #d9e1e2;
}
.box{
    width: 200px;
    height: 175px;
    border: 5px solid #d32d27;
    display: center;
    margin: 0 auto;
    background-color: #d9e1e2;
}
#topbox{
    margin: 0 auto;
    width: 390px;
    height: 30px;
    border: 5px solid #d9e1e2;
    background-color: #d9e1e2
}
.passwordoutput {
    margin: 0 auto;
}
.topbox-buttons{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 5px;
    border-radius: 10px;
    /* display: inline-block; */
    border: none;
    transition: all 0.4s ease 0s;
    margin: 0 auto;
}
.topbox-buttons:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
    }
.leftbox {
    width: 200px;
    height: 75px;
    position: relative;
    left: 0px;
    float: left;
}
.char-select-box{
    width: 200px;
    height: 75px;
    position: relative;
    left: 90px;
    float: right;
}
.char-select{
    border: none; 
    resize: none;
    outline: none;
    background: #cccccc;
    color: white;
}
.readability{
    border: none; 
    resize: none;
    outline: none;
    background: #cccccc;
    color: white;
}
.readability-box{
    width: 130px;
    height: 100px;
}
.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}
.button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
    }
.checkmark {
    color: #60a3bc
}
textarea { 
    border: none; 
    resize: none;
    outline: none;
    background: #cccccc;
    
}

/* .dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
} */