body{
    background-color: #d9e1e2;
}
h1 {
    color: #d32d27;
}
#length {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 5px;  
    background: #333f48;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #length::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #af0809;
    cursor: pointer;
  }
  
  #length::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #af0809;
    cursor: pointer;
  }
.box{
    width: 300px;
    height: 175px;
    border: 5px solid #d32d27;
    display: center;
    background-color: #d9e1e2;
}
#topbox{
    width: 290px;
    height: 30px;
    border: 5px solid #d9e1e2;
    background-color: #d9e1e2
}
.topbox-buttons{
    color: #d9e1e2;
    text-transform: uppercase;
    text-decoration: none;
    background: #af0809;
    padding: 5px;
    border-radius: 10px;
    /* display: inline-block; */
    border: none;
    transition: all 0.4s ease 0s;
}
.topbox-buttons:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}
.char-select-box{
    width: 200px;
    height: 75px;
}
.char-select{
    border: none; 
    resize: none;
    outline: none;
    color: #d32d27;
    background: #333f48;
}
/* .readability{
    border: none; 
    resize: none;
    outline: none;
    background: #cccccc;
    color: white;
}
.readability-box{
    width: 135px;
    height: 100px;
} */
.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}
.button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
    }
.checkmark {
    color: #60a3bc
}
textarea { 
    border: none; 
    resize: none;
    outline: none;
    color: #d32d27;
    background: #333f48;
    
}

/* .dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
} */